@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

*{
	box-sizing: border-box;
	font-family: 'Montserrat';
}

body{
	background-color: #1f2937;
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

.cont1{
	display: flex;
	flex-direction: column;
}

.header{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.kiri-header{
	font-size: 24px;
	color: #F9FAF8;
	width: 50px;
}

a,.secondary-text{
	text-decoration: none;
	text-align: justify;
	font-size: 18px;
	color: #E5E7EB;
}

.kumpulan-link{
	width: 300px;
	display: flex;
	justify-content: space-between;
	gap: 10px;
	align-items: center;
}

.konten-cont1{
	padding : 50px;
	display: flex;
	justify-content: space-between;
	gap: 100px;
}

.teks-dan-button{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* border: 1px solid red; */
}

.main-text{
	font-size: 48px;
	font-weight: 800;
	color: #F9FAF8;
}

.tombol-cont1{
	color: antiquewhite;
	background-color: #3882F6;
	font-weight: 700;
	width: 100px;
	border-radius: 6px;
	border: 1px solid black;
}

.foto-kucing{
	flex: 1;
	flex-shrink: 0;
	display: flex;
	justify-content: flex-end;
}

.foto-kucing img{
	height: 250px;
	width: 500px;
	flex-shrink: 0;
}

.kiri-header img{
	height: 50px;
	width: 150px;
}

.cont2{
	background-color: whitesmoke;
	height: 300px;
	display: flex;
	flex-direction: column;
}

.judul-cont2{
	font-size: 36px;
	font-weight: bolder;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.konten-cont2{
	height: 300px;
	display: flex;
	justify-content: center;
	gap: 18px;
	align-items: center;
}

.foto-dan-teks-cont2{
	height: 200px;
	width: 150px;
	display: flex;
	flex-direction: column;
}

.foto-cont2 img{
	border: 2px solid lightskyblue;
	border-radius: 12px;
	height: 134px;
	width: 150px;
}

.teks-cont2{
	/* border: 1px solid yellowgreen; */

}